* {
    box-sizing: border-box;
}

header, nav, main, footer {
    display: block;
}

body {
    background-image: url("../img/background.gif");
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 6px 2px 11px -3px #909090;
}

#wrapper main {
    background-color: #FEF6C2;
    margin-left: 200px;
    padding-bottom: 20px;
}

#wrapper main h2,
#wrapper main h3,
#wrapper main h4,
#wrapper main p,
#wrapper main div,
#wrapper main ul,
#wrapper main dl {
    padding-left: 3em;
    padding-right: 2em;
}

header {
    height: 150px;
    background: url("../img/javajamlogo.jpg") no-repeat #d2b48c;
}

nav {
    margin-bottom: 30px;
    margin-top: 10px;
    float: left;
    width: 200px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav a {
    color: #FEF6C2;
    text-decoration: none;
    transition: color .3s ease;
}

nav a:visited {
    color: #D2B48C;
}

nav a:hover {
    color: #CC9933;
}

nav a.active {
    color: #CC9933;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

h4 {
    background-color: #d2b48c;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-size: 1.2em;
    text-transform: uppercase;
    clear: left;
}

.details {
    overflow: auto;
}

.details img {
    margin-left: 200px;
}

nav {
    text-align: center;
    font-weight: bold;
}

footer {
    padding: 10px;
    background-color: #d2b48c;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    clear: both;
    border: 2px solid #221811;
}

.floatleft {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* spec */

.content-img {
    float: right;
    padding-left: 15px;
}

#heroroad {
    background-image: url("../img/heroroad.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
}

#heromugs {
    background-image: url("../img/heromugs.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
}

#heroguitar {
    background-image: url("../img/heroguitar.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
}
